@using Blog.DAL
@model List<Yorumlar>


@foreach (var yorumlar in Model)
{
    <div class="media">
        <a class="media-left" href="#">
            <img src="https://i.hizliresim.com/dnvp86e.png" alt="" class="rounded-circle">
        </a>
        <div class="media-body">
            <h4 class="media-heading user_name">@yorumlar.YorumYazanAdiSoyadi <small>@yorumlar.YorumEklenmeTarihi</small></h4>
            <p>@yorumlar.YorumAciklama</p>

            @if (User.IsInRole("Admin"))
            {
                <a href="/Yorum/YorumSil/@yorumlar.YorumID" class="btn btn-primary btn-sm">Yorumu Sil</a>
            }

        </div>
    </div>
}