@using Blog.DAL
@model List<Kategoriler>
@{
    Layout = null;
    ViewBag.Title = "Kategori";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KategoriListele</title>
</head>
<body>
    <div>
        @foreach (var kategori in Model)
        {
            <div class="col-lg-6">
                <div class="d-flex mb-3">
                    <img src="img/news-100x100-1.jpg" style="width: 100px; height: 100px; object-fit: cover;">
                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                        <div class="mb-1" style="font-size: 13px;">
                            <a href="">@kategori.KategoriAdi</a>
                        </div>
                        <a class="h6 m-0" href="">@kategori.KategoriAciklama</a>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>